@font-face {
    font-family: jellee;
    src: url("/Jellee-Roman.otf");
}

html {
    background-color: black;
}

button {
    font-family: jellee;
}

#top-bar {
    position: absolute;
    z-index: 999;
}

button {
    opacity: 35%;
    transition: all 0.25s;

    background-color: rgba(0,0,0,0);
    color:white;
    
    border-style: solid;
    border-radius:15px;
}

button:hover {
    opacity: 100%;

    background-color: black;
    cursor:pointer;
}

p {
    opacity: 0%;
}

@media screen and (max-width: 600px) {
    p {
        opacity: 100%;
        background-color: black;
        color: white;
    }
}