@font-face {
    font-family: jellee;
    src: url("../Jellee-Roman.otf");
}

html, button {
    background-color: black;
    font-family: jellee;
    font-size: auto;
}

p, h1, a, li{
    color:white;
}

hr {
    color:White;
    border-style:solid;
    border-color:white;
}

a {
    text-decoration: none;
    padding-bottom: 10px;
    color:gray;
}

a:hover {
    color: lightgray;
    text-decoration: underline;
}

a:active {
    color:gray;
    text-decoration: underline;
}

button {
    transition: all 0.25s;

    background-color: black;
    color:white;

    z-index: 999;

    padding-left:10px;
    padding-right: 10px;
    padding-top:3px;
    padding-bottom:3px;

    border-style: solid;
    border-radius:15px;
    border-color:white;
}

button:hover {
    color:grey;
    cursor:pointer;
    transform: scale(110%);
}

button:active {
    color: lightgray;
    cursor:pointer;
    transform: scale(100%);
}

div {
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    padding:20px;

    margin:10px;

}

h1 {
    margin-top: 0px;
}

#top {
    position:fixed;
}

video, img {
    border-color: white;
    border-style: solid;
    border-radius:15px;

    max-height: 300px;
    max-width: 100%;

    vertical-align: middle;

    padding:5px;

    transform: scale(98%);
}

a img, video {
    transition: all 0.25s;
}

a img:hover, video:hover {
    transform: scale(102%);
}

gray {
    color:gray;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}