@font-face {
    font-family: jellee;
    src: url("../Jellee-Roman.otf");
}

html, button {
    background-color: black;
    font-family: jellee;
    font-size: auto;
}

p, h1, a {
    color:white;
}

hr {
    color:White;
    border-style:solid;
    border-color:white;
}

a {
    padding: 5px;

    text-decoration: none;
}

a:hover {
    color: lightgray;
    text-decoration: underline;
}

a:active {
    color:gray;
    text-decoration: underline;
}

body {
    text-align: center;

    height: fit-content;
    top:50%;
    left: 50%;
    position:absolute;

    transform: rotate(0deg) translate(-50%, -50%);
}

button {
    transition: all 0.25s;

    background-color: rgba(0,0,0,0);
    color:white;

    padding-left:10px;
    padding-right: 10px;
    padding-top:3px;
    padding-bottom:3px;

    margin-top: 20px;
    
    border-style: solid;
    border-radius:15px;
    border-color:white;
}

button:hover {
    color:grey;
    cursor:pointer;
}

button:active {
    color: lightgray;
    cursor:pointer;
}

div {
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    padding:20px;

    margin:10px;
}